// Place all the styles related to the Api::Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.track-show-div {
  background-color: #f4f4ff;
}

// BANNER
.track-show-banner {
  width: 100%;
  height: 300px;
}

.track-show-background-cover {
  width: 64%;
  height: 300px;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  left: 18%;
  z-index: 1;
}

.track-show-blur-overflow {
  overflow: hidden;
  height: 300px;
}

.track-show-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px) brightness(50%);
  transform: scale(1.05);
}

.track-show-info-div {
  display: flex;
  width: 45%;
  height: 250px;
  z-index: 0;
  position: absolute;
  top: 110px;
  left: 200px;
  text-align: center;
  z-index: 2;
}

.track-image {
  border: 4px solid #fffc68;
  width: 240px;
  height: 240px;
  margin-left: -4px;
}

.track-show-info-metadata {
  text-align: left;
}

.track-show-info-metadata h1 {
  margin: 20px;
  font-size: 30px;
  color: #fffc68;
}

.track-show-info-metadata h2 {
  margin: 20px;
  font-size: 23px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

// LYRICS AND ANNOTATIONS

.track-show-lyrics-and-annotations-div {
  background-color: white;
  width: 64%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

//  // LYRICS
.track-show-lyrics-div {
  padding: 12px;
  padding-top: 22px;
  width: 55%;
  white-space: pre-wrap;

  line-height: 150%;
}

.anno-lyric-span {
  background-color: #e6e6f2;
  cursor: pointer;
}

.anno-lyric-span:hover {
  background-color: #fffc68;
}

//  // ANNOTATIONS

.track-show-annotations-div {
  padding: 12px;
  margin-top: 10px;
  width: 40%;
  white-space: pre-wrap;
}

.track-show-annotations-div h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.annotation-box {
  border-left: 4px solid black;
  padding-left: 15px;
  position: absolute;
}
