// Place all the styles related to the Api::Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.track-show-banner {
  width: 100%;
  height: 300px;
  z-index: -1;
}

.track-show-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px) brightness(75%);
}

.track-image {
  border: 4px solid #fffc68;
  width: 240px;
  height: 240px;
  margin-left: -4px;
}

.track-show-info-div {
  display: flex;
  width: 45%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 110px;
  left: 100px;
  text-align: center;
}

.track-show-info-metadata {
  text-align: left;
}

.track-show-info-metadata h1 {
  margin: 20px;
  font-size: 30px;
  color: #fffc68;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.track-show-info-metadata h2 {
  margin: 20px;
  font-size: 23px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
