// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show-div {
  height: 100%;
  min-height: 85vh;
}

.user-show-banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  // background-color: black;
}

.user-show-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px) brightness(75%);
  transform: scale(1.05);
  z-index: -1;
}

.user-show-info-div {
  width: 28%;
  height: 700px;
  z-index: 0;
  position: absolute;
  top: 170px;
  left: 100px;
  text-align: center;
}

.user-show-info-div h1 {
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  font-weight: bolder;
}

.user-avatar-image {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  border: 4px solid #fffc68;
  height: 100%;
  max-height: 360px;
  max-width: 360px;
  min-height: 360px;
  min-width: 360px;
  margin-left: -4px;
}

.user-show-edit-button {
  border: 2px solid black;
  background: white;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  padding: 4px;
}
