.search-index-div {
  width: 300px;
  background-color: white;
  border: 1px solid black;
  top: 80px;
  position: absolute;
  z-index: 5;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
}

.search-item-link {
  color: black;
  text-decoration: none;
}

.search-item-div {
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-item-div:hover {
  background-color: #efefff;
}

.search-item-info {
  display: flex;
  padding: 2px;
}

.search-item-image {
  height: 60px;
  width: 60px;
  border: 2px solid black;
}

.search-item-metadata {
  display: block;
  margin-left: 5px;
}

.search-item-metadata-title {
  font-size: 14px;
  margin-bottom: 3px;
}

.search-item-metadata-artist {
  font-size: 12px;
}
